body{
    background-color: #ec1c24;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-size: small;
    height: auto;
    width: 100%;
    margin: 0%;
    padding: 0%;
    color: whitesmoke;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;  
}
h4{
  font-weight: 400;
  font-size: medium;
}
header{
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    background-color: white;
    height: 80px;
    margin-bottom: 50px;
}

input  {
    text-align: center;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #e2e5de, #96acbc );

}

.bannerimg {
  position: absolute;
  top: -10px;
  left: 0px;
}
.welcome-container{
  display: flex;
  justify-content: center;
}
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    display: flex;
    justify-content: center;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.main-container{
  margin-top: 30px;
}

.container text-centre{
  width: 100%;

}

.btn-primary{
  font-size: small;
  display: flex;
  justify-content: center;
  background-color: #e2e5de;
  background-image: linear-gradient(to right, #e2e5de, #96acbc );
  width: 150px;
  height: 80px;
  align-items:end;
  color: grey;
  border: none;
}

.btn-secondary{
  width: 20%;  
  background-image: linear-gradient(to right, #7d8597, #5c677d );
border: none;
}

.btn-light{
  font-size: small;
  display: flex;
  justify-content: center;
  background-color: #e2e5de;
  background-image: linear-gradient(to right, #e2e5de, #96acbc );
  width: 200px;
  height: 60px;
  align-items: center;
  color: grey;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer{
  position: fixed;  
  bottom: 0%;
  width: 100%;
  padding: 15px;
  background-color:white;
  color: #ec1c24;
}

.side-container{
  display: flex;
  float: right;
  width: 50%;
}

