body{
    background-color: #45506B;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    color: whitesmoke;
}

header{
    font-family: 'Heebo';
    padding: 0%;
    padding-left: 50px;
    background-color: white;
    height: 90px;
}

h1{
    padding:10px;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.col-left{
    padding-left: 80px;
    padding-top: 90px;
  }

input  {
    text-align: center;
    width: 300px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 5px;
}

.button{
    background-color: #45506B;
  border: 2px solid white; 
  border-radius: 5px;
  width: 100px;
  font-family: 'Roboto';
  color: whitesmoke;
}

.submitbtn{
    padding-left: 200px;
}

.bannerimg {
  position: absolute;
  top: -10px;
  left: 0px;
}

.bankservicesbutton {
  background-color: #FFFFFF; 
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 350px;
}

.bscol-left{
  padding-left: 18%;
  padding-top: 100px;
}