body{
    background-color: #ec1c24;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-size: medium;
    height: auto;
    width: 100%;
    margin: 0%;
    padding: 0%;
    color: whitesmoke;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;  
}
h4{
  font-weight: 400;
  font-size: medium;
}
header{
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    background-color: white;
    height: 80px;
    margin-bottom: 10px;    
}

input  {
    text-align: center;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color:#e2e5de;
}

.bannerimg {
  position: absolute;
  top: -10px;
  left: 0px;
}

.welcome-container{
  font-size: 20;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  color: black;
  text-align: center;
}
.logo{
  width: 400px;
  height: auto;
}
.main-container{
  margin-top: 30px;  
}

.container text-centre{
  width: 100%;
}

.btn-primary{
  font-size: small;
  display: flex;
  justify-content: center;
  background-color: #e2e5de;
  background-image: linear-gradient(to right, #e2e5de, #96acbc );
  width: 150px;
  height: 80px;
  align-items:end;
  color: grey;
  border: none;
}

.btn-secondary{
  width: 25%;  
  background-color: #96acbc;
border: none;
}

.btn-light{
  font-size: small;
  display: flex;
  justify-content: center;
  background-color: #e2e5de;
  background-image: linear-gradient(to right, #e2e5de, #96acbc );
  width: 250px;
  height: 70px;
  align-items: center;
  color: rgb(46, 44, 44);
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer{
  position: fixed;  
  bottom: 0%;
  width: 100%;
  padding: 15px;
  background-color:#7b859e;
  color: #ec1c24;
}

.side-container{
  display: flex;
  float: right;
  width: 50%;
}

.o-card{
  width: 300px;
  height: auto;
  margin-top: 10px;
}

#hideMe {
  -webkit-animation: cssAnimation 0s ease-in 4s forwards;
  /* Safari and Chrome */
  animation: cssAnimation 0s ease-in 4s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

.showMe {
  animation: cssAnimation2 0s 4.5s forwards;
  visibility: hidden;
}

@keyframes cssAnimation2 {
  to   { visibility: visible; }
}
#hideMe2{
  -webkit-animation: cssAnimation5 0s ease-in 10s forwards;
  /* Safari and Chrome */
  animation: cssAnimation5 0s ease-in 10s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation5 {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation5 {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

#showMe2{
  animation: cssAnimation3 0s 10s forwards;
  visibility: hidden;
}
@keyframes cssAnimation3 {
  to   { visibility: visible; }
}

.servicebtn{
  font-size: medium;
  display: flex;
  justify-content: center;
  background-color: #e2e5de;
  background-image: linear-gradient(to right, #e2e5de, #96acbc );
  width: 300px;
  height: 80px;
  align-items: center;
  padding:5px;
  text-align: right;
}
 .servicebtn i{
  color: black;
  text-align: left;
  padding: 5px;
  font-size: medium;
 }
i{
  z-index: 2;
  font-size: medium;
  color: #e2e5de;
  font-weight: bolder;
}

ul{
  text-align: right;
  list-style-type: none;
  margin-right: 50px;
}

a{
  text-decoration: none;
}
li{
  display: inline-block;  
}
.cashbtn{
  font-size: medium;
}
.second-container{
  margin-top: 100px;
}
.btn-outline-secondary{
  margin: 8px;
  width: 160px;
  background-color: #e2e5de;
  border: none;
}